In [10]:
import pandas as pd
import os
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [11]:
np.random.seed(42)

In [12]:

#import alpaca 
import alpaca_trade_api as tradeapi

In [13]:
# Load .env enviroment variables
from dotenv import load_dotenv
load_dotenv()

# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version='v2')

In [41]:
tickers = ["TSLA","AAPL","GOOG"]

# Set timeframe to 1 DAY for close at end of each day
timeframe = '1D'

# Set start and end datetimes of 1 year, between now and 365 days ago.
end_date = datetime.now()
start_date = end_date + timedelta(-365)

# Get 1 year's worth of historical data for SPY,AGG
ticker_df = api.get_barset(
    tickers,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df
# Use the `drop` function to get only close price of SPY AGG
#ticker_df.drop(columns=['open', 'high', 'low', 'volume'], level=1, inplace=True)
ticker_df

                             AAPL                                     \
                             open    high     low   close     volume
time
2019-12-02 00:00:00-05:00  267.32  268.25  263.45  264.09   19070546
2019-12-03 00:00:00-05:00  258.31  259.53  256.29  259.52   25772086
2019-12-04 00:00:00-05:00  261.07  263.31  260.68  261.74   14623003
2019-12-05 00:00:00-05:00  263.79  265.89  262.73  265.58   15381351
2019-12-06 00:00:00-05:00  267.48  271.00  267.30  270.70   23057888
...                           ...     ...     ...     ...        ...
2020-04-20 00:00:00-04:00  277.95  281.68  276.85  276.85   86952157
2020-04-21 00:00:00-04:00  276.28  277.25  265.43  268.36  120805673
2020-04-22 00:00:00-04:00  273.61  277.58  272.20  276.67   94158975
2020-04-23 00:00:00-04:00  275.87  281.75  274.87  274.87   55290604
2020-04-24 00:00:00-04:00  277.20  283.01  277.00  282.95   83689194

                                GOOG                                        \
                                open       high      low    close   volume
time
2019-12-02 00:00:00-05:00  1302.3994  1304.2657  1281.00  1289.77  1165927
2019-12-03 00:00:00-05:00  1279.5700  1298.4610  1279.00  1295.27  1033844
2019-12-04 00:00:00-05:00  1307.0100  1325.8000  1304.87  1320.30  1394677
2019-12-05 00:00:00-05:00  1328.0000  1329.3579  1316.44  1328.89  1014076
2019-12-06 00:00:00-05:00  1333.4400  1344.0000  1333.44  1340.51  1116598
...                              ...        ...      ...      ...      ...
2020-04-20 00:00:00-04:00  1271.0000  1281.6000  1261.37  1267.58  5646002
2020-04-21 00:00:00-04:00  1247.0000  1254.2700  1209.71  1215.38  5772805
2020-04-22 00:00:00-04:00  1245.5400  1285.6133  1242.00  1265.12  4604464
2020-04-23 00:00:00-04:00  1271.5500  1293.3100  1265.67  1276.30  3536424
2020-04-24 00:00:00-04:00  1261.1700  1280.4000  1249.45  1279.30  2789081

                              TSLA
                              open      high      low     close    volume
time
2019-12-02 00:00:00-05:00  328.937  336.3827  328.687  334.8600   5787602
2019-12-03 00:00:00-05:00  332.620  337.9100  332.186  336.0800   6380944
2019-12-04 00:00:00-05:00  337.750  337.8600  332.850  332.9900   5249592
2019-12-05 00:00:00-05:00  333.000  334.4227  327.250  330.3400   3453427
2019-12-06 00:00:00-05:00  335.000  338.8600  334.770  335.8500   7446599
...                            ...       ...      ...       ...       ...
2020-04-20 00:00:00-04:00  732.700  765.5700  712.210  746.3500  28421310
2020-04-21 00:00:00-04:00  730.120  753.3300  673.790  686.7200  58529442
2020-04-22 00:00:00-04:00  703.980  731.6000  688.710  731.0656  37901725
2020-04-23 00:00:00-04:00  727.600  734.0000  703.130  705.6300  38120713
2020-04-24 00:00:00-04:00  710.810  730.7300  698.180  725.0000  24775239

[100 rows x 15 columns]

In [40]:
daily_earning=ticker_df.pct_change().mean()
daily_earning

AAPL  close    0.001355
GOOG  close    0.000372
TSLA  close    0.009933
dtype: float64

In [39]:
toptickers=[];
for ticker in tickers:
    if daily_earning[ticker]>= 0.05:
        toptickers.append(ticker)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().